.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  background: #003153;
}

.navbar_content {
  height: 120px;
}

.navbar_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar_logo img {
  height: 70px;
  width: 120px;
}
