.nav_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_items li {
    padding: 1rem;
}

.nav_items a {
    text-decoration: none;
    color: white;
}

.nav_items a:hover,
.nav_items a:active {
    color: orange;
}