.heroe-image-large {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 900px;
}

.heroe-image-large img {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.heroe-image-large h1 {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  z-index: 100;
}