.heroe-image-small img {
    height: 5rem;
    width: 100%;
    /* background-image: url(/src/img/header-image.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}